.button {
  background-color: rgb(169, 13, 207);
  border: none;
  border-radius: 3px;
  box-shadow: 1px 4px 10px black;
  color: white;
  transition: background-color ease-in-out 0.4s, box-shadow ease-in-out 0.4s,
    translateY ease-in-out 0.4s;

  &:hover {
    cursor: pointer;
    background-color: rgb(184, 84, 209);
    box-shadow: 1px 7px 14px black;
    transform: translateY(1.1);
  }

  &:disabled {
    background-color: grey;

    &:hover {
      box-shadow: inherit;
    }
  }
}
